<div class="container-fluid">
  <div class="row">

    <div class="col-8">
      <div class="d-flex p-2 bd-highlight mt-5 " style="height: 150px;">

        <div *ngFor="let product of products" data-toggle="modal" data-target="#myExampleModal" style="cursor: pointer;"
          class="p-2 bd-highlight bg-dark mr-2 w-25 strech text-light text-center">
          <h5 class="mt-5">{{product.productName}}</h5>
        </div>

        <div *ngFor="let product of products" class="modal fade" id="myExampleModal" tabindex="-1"
          aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Quantity</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <label for=""> Input item quantity </label>
                <input class="form-control" type="number" name="quantity" id="" placeholder="Please input quantity">

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 mt-5">
      <div class="card">
        <div class="card-body">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products">
                <td>{{ product.productName }}</td>
                <td>{{ product.quantityOnHand }}</td>
                <td>{{ product.price }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
